input[type=range] {
	// fix for FF unable to apply focus style bug
	// border: 1px solid rgba($color-background-light, 0);
	
	// required for proper track sizing in FF
	width: 100%;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: $height-track;
	background: $color-track-inactive;
	border: none;
	border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: $color-thumb;

	&:hover {
		background: $color-thumb-hover;
	}
}

input[type=range]::-moz-focus-outer {
	border: 0;
}

// hide the outline behind the border
input[type=range]:-moz-focusring {
	outline: 1px solid inherit;
	outline-offset: -1px;
}

.invalid input[type=range]::-moz-range-thumb {
	background: $color-thumb-warning;
	&:hover {
		background: $color-thumb-hover-warning;
	}
}
