doctype html
html
	head
		block title
			title Admin
		meta(charset="utf-8")

		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
		
		style(type="text/css").
			main {
				padding-left:320px
			}
		block head	

	style
		block style

	body

		header
			ul.side-nav.fixed
				li.logo
					img(src="https://craft-africa.com/images/craft-africa-logo2.jpg" style="max-width:80%")
				li
					a(href='/admin/calculationform/container') Add/change container
				li
					a(href='/admin/calculationform/beertype') Add/change beer types
				li
					a(href='/admin/handletemplates') Add/change templates
				li
					a(href='/admin/signup') Add admin users
				li
					a(href='#!') Manage email stuff
				
		main
			block header

			block scripts

			block content

			block footer
