extends layout.pug


block vars
	- var title = "Something went wrong"

block title 
	| Something went wrong..

block content
	.container
		p= message
		p If this messages keeps appering, please contact the administrator in charge of system maintainance and show message above