extends adminlayout.pug

block title
	title Template Handler

block content
	form(method="post" action="/handletemplates/" id="foo")
		input(type="text" name="templateName" value=template id="templateName" )
		br
		input(type="email" name="email" id="recipient" value=recipient)
		br
		input(type="text" name="subject" id="subject" value=subject)
		br
		textarea(name="message" form="foo" style="width:300px; height:150px;")= message
		br
		input(type="submit" id="submit")
