html
	body
		.col-sm-8.col-sm-offset-2
			.jumbotron.text-center
				h1 Express Authentication
				p.lead A simple authentication app built with express, node &amp; passport.
				li
					a.btn.btn-default(href='/admin/login')
						span.fa.fa-sign-in Login
				li
					a.btn.btn-default(href='/admin/signup')
						span.fa.fa-user Signup
				li
					a.btn.btn-default(href='/admin/profile')
						span.fa.fa-user Profile