html
	head
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')

		// Favicon
		link(rel="icon" type="image/ico" href="/images/favicons/favicon.ico")
		link(rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16")
		link(rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32")
		link(rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png" sizes="180x180")
		link(rel="mask-icon" href="/images/favicons/safari-pinned-tag.svg" color="red")
		link(rel="manifest" href="/images/favicons/manifest.json")
		meta(name="msapplication-config" content="/images/favicon/ieconfig.xml")

		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
		title Login - Craft Africa
			
	body
		.container
			center
				img(src="https://craft-africa.com/images/craft-africa-logo.png" style="max-width:30%")
			center
				.z-depth-1.grey.lighten-4.row(style='padding: 3% 6% 0px 6%; border: 1px solid #EEE; margin: 1em 12em;')
						
						span 
						|	Login
						form.col.s12(action='/admin/login', method='post')
							.form-group.row
								label.col.s12 Email
								input.form-control(type='text', name='email')
							.form-group.row
								label.col.s12 Password
								input.form-control(type='password', name='password')
							div
								input.btn.form-control(type='submit', value='Submit')
