extends adminlayout.pug

block content

	main
		.container
			.row
				form.col.s12
				.row
				.input-field.col.s2
					input#name.validate(type='text')
					|  
					label(for='name') Name
				.input-field.col.s2
					input#type.validate(type='text')
					|  
					label(for='type') Type
				.input-field.col.s2
					input#price.validate(type='number')
					|  
					label(for='price') Price
				.input-field.col.s2
					input#size.validate(type='number')
					|  
					label(for='size') Size

			p testtest
			center
					h1.fa.fa-user  Profile
					br
					|  
					span
						user= user.id
						mail= user.mail
						| :
					br
					|  
					span
						a(href='admin/login') Sign out
					hr