html
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
	body
		.container
			center
				img(src="https://craft-africa.com/images/craft-africa-logo2.jpg" style="max-width:20%")
			center
					h1.fa.fa-user  Profile
					br
					|  
					span
						user= user.id
						mail= user.mail
						| :
					br
					|  
					span
						a(href='/login') Sign out
					hr