extends layout.pug

block title
	title Craft Africa - Edit users

block vars
	- var title = "Modify users"
	
block content
	each user in users
		p= "Email: " + user.local.email
		p= "password: " + user.local.password
		hr
				
block scripts