footer.footer
	.margin-box
		.navigation-links
			h2 About the company
			p Craft Africa creates a possibility for enthusiastic entrepreneurs to create their own craft beer in their own brewery.  
			//- ul
			//- 	li Homepage
			//- 	li Calculation Form
			//- 	li Containers
			//- 	li Environment
			//- 	li Contact
			//- 	li About CA
		.contact
			h2 Contact 
			ul
				li E-mail: 
					a(href="mailto:someone@ca.com") someone@ca.com
					//i(class="fa fa-envelope" aria-hidden="true")
				li Phone: 
					a(href="tel:+4612345678") +4612345678
				br
				li Address: Lugnet Allé, Stockholm
				li Dar es-Salaam
				li Kampala
		
		.contact-container
			h2 Stay Connected
			p Join the Craft Africa family today.
			.social-media
				.facebook
					a.fa.fa-facebook(href="facebook.com")
				.twitter
					a.fa.fa-twitter(href="twitter.com")
				.instagram
					a.fa.fa-instagram(href="instagram.com")
