footer.footer-top
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	.margin-box
		.navigation-links
			h6 Navigation
			ul
				li Homepage
				li Calculation Form
				li Containers
				li Environment
				li Contact
				li About CA
		.contact
			h6 Contact 
			ul
				li E-mail: someone@ca.com
					//i(class="fa fa-envelope" aria-hidden="true")
				li Phone: 10395109
				br
				li Address: Lugnet Allé
				li Stockholm Africa
		
		.contact-container
			h5 Stay Connected
			p Join the Craft Africa family today.
			.row
				//- .input-group.margin-bottom-sm
				//- 	span(class="input-group-addon")
				//- 		i(class="fa fa-envelope-o fa-fw")
				//- 	input(class="form-control" type="text" placeholder="Email address")

				.social-media
					
					.facebook

						a(href="facebook.com" class="fa fa-facebook fa-lg")
					.twitter
						a(href="twitter.com" class="fa fa-twitter")
					.instagram
						a(href="instagram.com" class="fa fa-instagram")

footer.footer-bottom
	




