footer.footer
	.margin-box
		.navigation-links
			h2 About the company
			p Craft Africa creates a possibility for enthusiastic entrepreneurs to create their own craft beer in their own brewery.  
			//- ul
			//- 	li Homepage
			//- 	li Calculation Form
			//- 	li Containers
			//- 	li Environment
			//- 	li Contact
			//- 	li About CA
		.contact
			h2 Contact us
			ul
				li E-mail: 
					a(href="mailto:info@craft-africa.com") info@craft-africa.com
					//i(class="fa fa-envelope" aria-hidden="true")
				li Phone: 
					a(href="tel:+46708102799") +46 708 102 799
				br
			h2 Address
			ul
				li Lugnet Allé 1
				li 120 65 STHLM
				li Stockholm - Dar Es Salaam - Kampala
		
		.contact-container
			h2 Stay Connected
			p Join the Craft Africa family today.
			.social-media
				.facebook
					a.fa.fa-facebook(href="facebook.com")
				.twitter
					a.fa.fa-twitter(href="twitter.com")
				.instagram
					a.fa.fa-instagram(href="instagram.com")
