footer.footer
	.margin-box
		.placeholder-text1
			//-This will be exactly as the nav-bar
			ul
				li Homepage
				li Calculation Form
				li Containers
				li Environment
				li Contact
				li About CA
		.placeholder-text2
			ul
				li Homepage
				li Calculation Form
				li Containers
				li Environment
				li Contact
				li About CA
		.placeholder-text3
			ul
				li Homepage
				li Calculation Form
				li Containers
				li Environment
				li Contact
				li About CA