footer.footer-top
	.margin-box
		.navigation-links
			h1 Navigation
			ul
				li Homepage
				li Calculation Form
				li Containers
				li Environment
				li Contact
				li About CA
		.contact
			h1 Contact 
			ul
				li E-mail: someone@ca.com
					//i(class="fa fa-envelope" aria-hidden="true")
				li Phone: 10395109
				br
				li Address: Lugnet Allé
				li Stockholm Africa
		
		.contact-container
			h1 Stay Connected
			p Join the Craft Africa family today.
			.social-media
				.facebook
					a.fa.fa-facebook(href="facebook.com")
				.twitter
					a.fa.fa-twitter(href="twitter.com")
				.instagram
					a.fa.fa-instagram(href="instagram.com")

footer.footer-bottom
	




