nav.nav
	.logo
		img(src="/images/logo-white.svg" alt="Craft Africa logo")

	.links
		a(href="/") Home
		a(href="/container") The Container
		a(href="/footprint") Our footprint
		a(href="/about") About us
		a(href="/contact") Contact us

	.btn
		span
		span
		span
		span
