.logo
	img(src="/images/logo-white.svg" alt="Craft Africa logo")

ul.links
	li
		a(href="/") Home
	li
		a(href="/container") The Container
	li
		a(href="/footprint") Our footprint
	li
		a(href="/about") About us
	li
		a(href="/contact") Contact us

.hamburger
	span
	span
	span
	span
