//- .nav-btn
//- 	span
//- 	span
//- 	span
//- 	span
		
nav.nav.large
	.nav-container
		.logo
			img(src="/images/logo-white.svg" alt="Craft Africa logo")

		.links
			a(href="#") Home
			a(href="#") The Container
			a(href="#") Our footprint
			a(href="#") About us
			a(href="#") Contact us
//- .nav-filler
