//- .nav-btn
//- 	span
//- 	span
//- 	span
//- 	span
		
nav.nav
	.nav-container
		img.logo(src="/images/craft_africa_logo.png" alt="Craft Africa logo")

		.links
			a(href="#") Home
			a(href="#") The Container
			a(href="#") Our footprint
			a(href="#") About Craft Africa
			a(href="#") Contact Us
.nav-filler
