.logo
	img(src="/images/logo-white.svg" alt="Craft Africa logo")

ul.links
	li
		block navlink-home
			a(href="/") Home
	li
		block navlink-product
			a(href="/product") Our Product
	li
		block navlink-footprint
			a(href="/footprint") Our footprint
	li
		block navlink-about
			a(href="/about") About us
	li
		block navlink-contact
			a(href="/contact") Contact us

.hamburger
	span
	span
	span
	span
