& {
	
	background-image: url("/images/africa-2265801_1920.jpg");
	// background: $color-primary-darker;
	//color: $color-info;
	color: $color-white;


	.down-btn:hover,
	.down-btn:active,
	.down-btn:hover {
		color: set-hover-color($color-info);
	}
}
