& {
	
	
	// background: $color-primary-darker;
	//color: $color-info;
	color: $color-white;


	.down-btn:hover,
	.down-btn:active,
	.down-btn:hover {
		color: set-hover-color($color-white);
	}
}


.footprint-header{
	
	.title-text {
		text-shadow: 1px 1px 6px #000;
		h1{
			 border-bottom: 2px $color-white solid;
		}
	}

	.background-img{
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 100vh;
		background-image: url("/images/darkerImages/OurFootPrint.png");
		background-size: cover;
		background-position: center;

		//filter: blur(0px) grayscale(50%);

		// -webkit-filter: blur(3px);
		// -moz-filter: blur(3px);
		// -o-filter: blur(3px);
		// -ms-filter: blur(3px);
		// filter: blur(3px);
		// opacity: 0.8;
	}
}

