.big-pic{
	.homepage-pic{

	    

	    /* Set a specific height */
	    height: 500px; 

	    /* Create the parallax scrolling effect */
	    // background-attachment: fixed;
	    // background-position: center;
	    // background-repeat: no-repeat;
	    // background-size: cover;
	}
	#first {
		background-image: url("/images/cheers-839865_640.jpg");
		background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	#second{
		/* Set a specific height */
 	    height: 500px; 
		background-image: url("/images/africa2.jpg");
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
		.product-footprint-about {
			.column-container{

				display: flex;
				//padding: 10%;
				padding: 5% 12% 10% 12%;
				flex-direction: column;
				
				@media (min-width: $width-tablet-min) {
					flex-direction: row;
				}

				.text{
					text-align: center;
					padding:0;
					flex: 1;
					width: 100%;
					color: white;
					h2{
						font-size: 4.5em;
					}
				}
				.text:hover{
					text-shadow: black 0 0 20px;
				}

				.line {
				//	margin: 5% 1% 5% 1%;
					box-sizing: border-box;
					margin-bottom: 5%;
					margin-top: 4%;
					//height: 1px;
					flex-shrink: 0;
				
					height: 1px;
					

					@media (min-width: $width-tablet-min) {
						height: auto;
						width: 1px;
						//margin: 1% 5% 1% 5%;
						margin: 5px 40px;
					}
					
					// margin-left: 5%;
					// margin-right: 5%;
					// margin-top: 2%;
					// margin-bottom: 2%;
					background: $color-dark-grey;
					

				}
			}
		}
	}
}