.homepage.craft-own-beer {
		//box-shadow: inset 0 0 5px 2px #282a2d; /* SHADOW - mark the inset */
		flex-direction: column;
		display: flex;
		justify-content: center;
		//text-align: center;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 7em;
		padding-bottom: 7em;
		background-color: $color-secondary;
		
		
		@media (min-width: $width-mobile-min) {
			padding-left: 10%;
			padding-right: 10%;
		
		}

		//Does not work on Edge and FF
		// padding-top: 10%;
		// padding-bottom: 10%;
		

		h1, p {
		//	width: 90%;
			text-align: center;
			margin-bottom: 20px;
		}

		h1#input-window {
			 border-bottom: 1px $color-dark-grey solid;
		}

		.icon-container{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-top: 70px;
			margin: 0 auto;
			@media (min-width: $width-tablet-min) {
				flex-direction: row;
			}
			.icon{

				padding: 20px 0px;
				@media (min-width: $width-tablet-min) {
					padding: 0px 70px;
				}
				img{
					filter: grayscale(100);

					width: 150px;
				}
			}
		}
} 
