extends layout.pug

block title 
	|  - Oops! Error code: 404

block header
	header.header.footprint
		.title-text
			h1 Oops!
			h4 We can't seem to find the page you're looking for.
			p Error code: 404


block content

//- block footer
//- 	p example footer
