extends layout.pug

block title 
	|About - 

block description
	meta(name="description" content="This is the about page of Craft Africa. Here you will find everything you need to know about our company. You can read about our story, where we started and how we got to where we are today. We strongly believe we have a mission to change the world and make the world a better place. ")

block header
	header.header.about
		.title-text
			h1 Our mission
			p This is a short sentence capturing our kick ass company values. How we want to eradicate plastic bottles, help entrepreneurs reach their true potential and save the planet while we are doing it!
		a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.info-box.our-story.about#first
		h1 Our story
		p We totally have a story. And you will love it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id.
		p We totally have a story. And you will love it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id.
	.big-pic
		.our-story-pic
		//	img(src="/images/africa-our-story.jpg", alt="Good looking picture")

	.about.why-what-how
		.column-container
			.text
				h1 Why?
				p The Craft Beer industry is growing significant all over the world (facts xxxx) and consumers are more and more conscious in their choice of brands and consumer goods. Trends with demand for local production and local connected brands are giving the Craft Beer industry even stronger positioning on the very competitive beer market. 
				|The African continent is the fastest growing beer market globally and the Craft Beer trend is at an early stage of development. Future demography makes it even more interesting as market. There is specific needs for supporting production technology and financial solutions to promote the entrepreneurial possibilities of creating local brands and local quality production.
			.line

			.text
				h1 What?
				p We produce modular turnkey high technology breweries with built in tap room for fast start up of your own brand. The modular design makes the growth seamless enabling to grow your brand without technical or financial restriction. The concept provides production units with solar panels for environmental powering of the process and clean water system offering continuous tap water and carbonised water options. 
				|Business model is built on rental to make start up possible without major investment and total flexibility for changing capacities. We want to release the entrepreneurial spirit of Africa and promote sustainable business opportunities to bring brand ownership local.
			.line

			.text
				h1 How?
				p Connecting more than 20 years of experience within the process industry, years of hiking high altitude peeks in Africa, with recent insight in the beer industry and entrepreneurial field from the project Not For Sale Ale the concept CraftAfrica was born. With a strong wish for bringing forward business solutions that promote sustainability CraftAfrica was a perfect match when these experiences collides.
 
	.big-pic
		.quote-pic

