extends layout.pug

block navlink-about
	a(href="/about").active About us

block header
	header.header.about
		.title-text
			h1 Our mission
			p This is a short sentence capturing our kick ass company values. How we want to eradicate plastic bottles, help entrepreneurs reach their true potential and save the planet while we are doing it!
		a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.info-box.our-story.about#first
		h1 Our story
		p We totally have a story. And you will love it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id.
		p We totally have a story. And you will love it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id.
	.big-pic
		.our-story-pic
		//	img(src="/images/africa-our-story.jpg", alt="Good looking picture")

	.about.why-what-how
		.column-container
			.text
				h1 Why?
				p We totally have a story. And you will love it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id.
			.line

			.text
				h1 What?
				p We totally have a story. And you will love it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id.
			.line

			.text
				h1 How?
				p We totally have a story. And you will love it. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea modi veniam sunt voluptate omnis sequi enim atque quis, tempore, rerum laudantium rem temporibus illum ratione ex deserunt nostrum pariatur id.
	.big-pic
		.why-what-how-pic
