extends layout.pug

block title
	| - Calculation form

block header

block nav
	nav.nav.small
		include partials/navbar
	.nav-filler

block content
	div.calculation-form
		.container
			//- h1 Calculation form 
			//- p This is a calculation form
			.total-volume
				label Liters of Beer
				.slider-wrapper
					.slider-row
						input(type="range", name="totalVolume", id="totalVolume", min= minTotalVolume, max= maxTotalVolume)
						span 1000 liters
			.options
				.distribution
					label Finetune distribution (tap, keg, bottle)
					.slider-wrapper
						.slider-row
							input(type="range", name="tap", min=0, max=1, step=0.01, class="container-distribution")
							span 20%
						.slider-row
							input(type="range", name="keg", min=0, max=1, step=0.01, class="container-distribution")
							span 20%
						.slider-row
							input(type="range", name="bottle", min=0, max=1, step=0.01, class="container-distribution")
							span 20%
				.addons
					h3 Addons
					table
						tr
							td Keg automation machine:
							td
								input(type="checkbox")
						tr
							td Bottle automation machine:
							td
								input(type="checkbox")
			.profit-box
				p Profit: 
					span.profit 12345
			.container-box
				.title
					h3 Container configuration
				.containers
					.container-wrapper
						.container-module
							.name-wrapper
								.name
									span.text A1
									svg.circle(data-fill="40")
										circle.stroke(cx="50%" cy="50%" r="40%" stroke-width="10px" fill="none")
						.container-module
						.container-module

			//- p Distribution
			span.output economics output here...
			//- p Containers
			//- 	span.containers container output here...
			//- p Income statement
			//- 	span.income-statement Income statement here...
			//- input(type="button", value="Calculate", class="calculate-button")
			//- input(type="submit", value = "Submit")


block navScript
	script(src="/js/navbarsmall.js")

block scripts
	script(src="/js/calculationForm.js")