extends layout.pug

block title
	|#{title} - 

block description
	meta(name="description" content="This is the calculationform of Craft-Africa. Here you can find the set of containers that fits your need by using our calculationform.")

block header
	link(rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-default.css")
	header.header.calculation-form-header.half
		.title-text
			h1 Build Your Brand
			.container
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae cumque laborum nulla, repudiandae molestiae labore dolore quo in nemo saepe, quasi at nisi culpa adipisci voluptatum nostrum, ipsam numquam?

block nav
	nav.nav
		include partials/navbar
	.nav-filler.product

block content
	div.calculation-form#calc-app
		.container
			.chart-container
				economics-chart(:chart-data="chartData")
			.inputs(:class="statusClass")
				.total-volume
					.title
						h3 Liters of Beer
						.fa.fa-question-circle-o.tooltip
							.tooltip-text
								| This slider controls your monthly output of beer.
					.slider-wrapper
						.slider-row
							input.slider.activeSlider#totalVolume(type="range" name="totalVolume" min=`${minTotalVolume}` max=`${maxTotalVolume}` data-thumbWidth="20" v-model="totalVolume")
							span {{ totalVolume }} liters
				.options
					.distribution
						.title
							h3 Finetune distribution
							.fa.fa-question-circle-o.tooltip
								.tooltip-text
									| These sliders fine tune how much of your beer goes to tap, keg or bottles. You can also input your selling price for each type. The price is the price in usd per liter.
						table.slider-wrapper
							tr
								td
									label Tap:
								td.slider-row
									input.slider.container-distribution.activeSlider#sliderTap(type="range" name="tap" min="0" max="1" step="0.01" data-thumbWidth="16" v-model="sliderTap")
									span {{ tapPercent }}%
								td.price
									input(type="number" v-model="tapPrice").distribution-text-input
									span.unit $/l
							tr
								td
									label Keg:
								td.slider-row
									input.slider.container-distribution.activeSlider#sliderKeg(type="range" name="keg" min="0" max="1" step="0.01" data-thumbWidth="16" v-model="sliderKeg")
									span {{ kegPercent }}%
								td.price
									input(type="number" v-model="kegPrice").distribution-text-input
									span.unit $/l
							tr
								td
									label Bottle:
								td.slider-row
									input.slider.container-distribution.activeSlider#sliderBottle(type="range" name="bottle" min="0" max="1" step="0.01" data-thumbWidth="16" v-model="sliderBottle")
									span {{ bottlePercent }}%
								td.price
									input(type="number" v-model="bottlePrice").distribution-text-input
									span.unit $/l
					.col
						.water-slider
							.title
								h3 Water sold
								.fa.fa-question-circle-o.tooltip
									.tooltip-text
										| This slider controls your monthly output of water. You can also input your selling price for the water. The price is the price in usd per liter.
							.slider-wrapper
									table
										tr
											td.slider-row
												input.slider.container-distribution.activeSlider#sliderWater(type="range" name="water" min="0" max="5000" data-thumbWidth="16" v-model="sliderWater")
												span {{ sliderWater }} liters
											td.price
												input(type="number" v-model="waterPrice").distribution-text-input
												span.unit $/l
						.addons
							.title
								h3 Addons
								.fa.fa-question-circle-o.tooltip
									.tooltip-text
										| These are add-ons that you can add to your brewery. For small scale breweries, addons are not recommended and they will therefore be marked in red.
							table
								template(v-for="addonModule in addon")
									tr(:class="addonModule.recommendationClass")
										td
											input(type="checkbox" v-model="addonModule.choosen").activeCheckbox
										td {{ addonModule.comment }}

			.economics.drawer(data-state="closed")
				.profit-box.always-visible
					span.text Monthly profit: 
					span.profit.odometer.profit {{ economics.profit }}
					a.fa.fa-plus-square.show(href="#")
					a.fa.fa-minus-square.hide(href="#")
				.drawer-content
					hr.section-divider
					table
						tr
							th Incomes
						tr
							th Sales Bottles
							td {{ economics.incomes.bottlePrice }}
						tr
							th Sales Keg
							td {{ economics.incomes.kegPrice }}
						tr
							th Sales Tap
							td {{ economics.incomes.tapPrice }}
						tr
							th Sales Water
							td {{ economics.incomes.waterPrice }}
						tr
							th Total
							td {{ economics.incomes.total }}
					table
						tr
							th Fixed Costs
						tr
							th Rent
							td {{ economics.fixedCosts.rent }}
						tr
							th Total
							td {{ economics.fixedCosts.total }}
					table
						tr
							th Variable Costs
						tr
							th Bottle Production Costs
							td {{ economics.variableCosts.bottlePrice }}
						tr
							th Keg Production Costs
							td {{ economics.variableCosts.kegPrice }}
						tr
							th Tap Production Costs
							td {{ economics.variableCosts.tapPrice }}
						tr
							th Ingredients
							td {{ economics.variableCosts.ingredients }}
						tr
							th Total
							td {{ economics.variableCosts.total }}
					table
						tr
							th Summary
						tr
							th Incomes
							td {{ economics.incomes.total }}
						tr
							th Fixed Costs
							td - {{ economics.fixedCosts.total }}
						tr
							th Variable Costs
							td - {{ economics.variableCosts.total }}
						tr
							th Total
							td {{ economics.profit }}
					
			.container-box
				.drawer(data-state="closed")
					.title.always-visible
						span Container configuration
						a.fa.fa-plus-square.show(href="#")
						a.fa.fa-minus-square.hide(href="#")
					.drawer-content
						template(v-for="module in modules")
							.module
								table
									tr
										th {{ module.name }}
										td  
									tr
										th Container type
										td {{ module.type }}
									tr(v-if="module.type === 'production'")
										th Max brewing capacity
										td {{ module.brewingCapacity }}
									tr(v-else-if="module.type === 'fermenting'")
										th Max fermentation capacity
										td {{ module.fermentingCapacity }}
									tr(v-else)
										th Type
										td {{ module.comment }}
									tr
										th Price/month
										td {{ module.price }}
				.container-wrapper
					template(v-for="module in modules")
						.container-module(:class="statusClass")
							.name-wrapper
								.name
									span.text {{ module.name }}
									svg.circle(:data-fill="module.usagePercent")
										circle.outline(cx="50%" cy="50%" r="40%" stroke-width="1px" fill="none")
										circle.stroke(cx="50%" cy="50%" r="40%" stroke-width="7px" fill="none")

//- block navScript
//- 	script(src="/js/navbarsmall.js")

block scripts
	script(src="https://vuejs.org/js/vue.js")
	script(src="https://unpkg.com/vue-chartjs@2.6.0/dist/vue-chartjs.full.min.js")
	// script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js") 
	script(src="/js/calculationForm.js")
	script(src="http://github.hubspot.com/odometer/odometer.js")