extends layout.pug

block title
	| - Calculation form

block header

block nav
	nav.nav.small
		include partials/navbar
	.nav-filler

block content
	div.calculation-form
		h1 Calculation form 
		p This is a calculation form
		p Liters of Beer
		input(type="range", name="totalVolume", id="totalVolume", min= minTotalVolume, max= maxTotalVolume)
		p Liters of Water
		input(type="range", name="litersOfWater")
		p Finetune distribution (tap, keg, bottle)
		input(type="range", name="tap", min=0, max=1, step=0.01, class="container-distribution")
		input(type="range", name="keg", min=0, max=1, step=0.01, class="container-distribution")
		input(type="range", name="bottle", min=0, max=1, step=0.01, class="container-distribution")
		p Profit
		span.profit 12345$
		p Distribution
		span.output economics output here...
		p Containers
		span.containers container output here...
		p Income statement
		span.income-statement Income statement here...
		p Done
		input(type="button", value="Calculate", class="calculate-button")
		input(type="submit", value = "Submit")


block navScript
	script(src="/js/navbarsmall.js")

block scripts
	script(src="/js/calculationForm.js")