extends layout.pug

block title
	title
		Calculation form

block header
	h1 Calculation form 

block content
	p This is a calculation form
	div#calculation-form
	form(action="/calculationform", method="post", class="calculation-form" enctype="application/json")
		p Liters of Beer
		input(type="range", name="totalVolume", min= minTotalVolume, max= maxTotalVolume)
		p Liters of Water
		input(type="range", name="litersOfWater")
		p Finetune distribution (tap, keg, bottle)
		input(type="range", name="tap", min=0, max=1, step=0.01, class="container-distribution")
		input(type="range", name="keg", min=0, max=1, step=0.01, class="container-distribution")
		input(type="range", name="bottle", min=0, max=1, step=0.01, class="container-distribution")
		p Profit
		span.profit 12345$
		p Distribution
		span.output economics output here...
		p Containers
		span.containers container output here...
		p Income statement
		span.income-statement Income statement here...
		p Done
		input(type="button", value="Calculate", class="calculate-button")
		input(type="submit", value = "Submit")

block scripts
	script(src="/js/calculationForm.js")

block footer
	p Example footer