extends layout.pug

block title
	|Calculation form - 

block description
	meta(name="description" content="This is the calculationform of Craft-Africa. Here you can find the set of containers that fits your need by using our calculationform.")
block header
	h1 Calculation form 

block content
	.container
		div.graph
			div#graph-app(height="400px")
				economics-chart(:chart-data="chartData")
				//input(type="range", name="litersOfWater" v-model="waterSlider")
				
				input(type="range", name="totalVolume", min= minTotalVolume, max= maxTotalVolume, v-model="totalVolume").activeSlider#totalVolume
				p Finetune distribution (tap, keg, bottle)
				input(type="range", name="tap", min=0, max=1, step=0.01, v-model="sliderTap").activeSlider.container-distribution#sliderTap
				input(type="range", name="keg", min=0, max=1, step=0.01, v-model="sliderKeg").activeSlider.container-distribution#sliderKeg
				input(type="range", name="bottle", min=0, max=1, step=0.01, v-model="sliderBottle").activeSlider.container-distribution#sliderBottle

				p Content: {{ text }}
				p Slider: {{ totalVolume }}
				P Out: 

block navScript
	script(src="/js/navbarsmall.js")

block scripts
	script(src="https://vuejs.org/js/vue.js")
	script(src="https://unpkg.com/vue-chartjs@2.6.0/dist/vue-chartjs.full.min.js")
	// script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js") 
	script(src="/js/calculationForm.js")

block footer
	p Example footer