extends layout.pug

block title 
	|Contact -  

block description
	meta(name="description" content= "When you have read about us and are exited to start your own brand. Contact us at Craft Africa, and we will find a personal solution for you to develop you personal brand and take out you entrepreneurial spirit. ")

block nav
	nav.nav.small
		include partials/navbar
	.nav-filler

block content
	.contact-form
		.container-contact
			.text
				h1 Contact us
				.table-container
					table
						tr
							td Email:
							td someone@ca.com
						tr
							td Phone:
							td +4612345789
			form(method="post" action="/email/send")
				input(type="text" name="message_template" value="standard-template" hidden)
				.input-row
					.name
						label(for="name") Name
						input(type="text" name="name" id="name")
					.email
						label(for="emailadress") Email
						input(type="email" name="emailadress" id="emailadress" required)
				.message
					label(for="message") Your message
					textarea(name="message" id="message" rows="10")
				.btn-row
					input(type="submit" value="Submit")

block navScript
	script(src="/js/navbarsmall.js")
