extends layout.pug

block title 
	|  - Contact

block nav
	nav.nav.small
		include partials/navbar
	.nav-filler

block content
	.contact-form
		.container
			h1 Say hello
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quaerat aspernatur nulla alias amet quidem natus rerum hic? Odio maiores ea iusto repellendus, minima possimus doloribus enim porro ex magni.
			p Corporis non, dolore nemo aut nihil, vel enim iure assumenda. Reiciendis consequuntur eaque labore, exercitationem, aspernatur autem doloribus adipisci, mollitia veritatis molestias quod eos pariatur saepe! Alias perspiciatis doloribus ex.
			p Quaerat, placeat, consequuntur assumenda modi recusandae sapiente adipisci. Suscipit sit ipsa fugit accusamus quam a eos fuga mollitia. Quis laboriosam ipsam beatae, nam possimus a eveniet odio. Ducimus, voluptate laboriosam!
			p Dicta quibusdam a vel blanditiis, pariatur unde, laudantium inventore id, ab facilis autem? Beatae ipsam voluptatem quidem minima, aspernatur libero, quibusdam deserunt alias nulla laboriosam dolorum quasi, eos mollitia sit!

			form(method="post" action="/email/send").container
				input(type="text" name="message_template" value="standard-template" hidden)
				.input-row
					.name
						label(for="name") Name
						input(type="text" name="name" id="name")
					.email
						label(for="emailadress") Email
						input(type="email" name="emailadress" id="email" required)

				.message
					label(for="message") Your message
					textarea(name="message" id="message" rows="10")

				.btn-row
					input(type="submit" value="Submit")

block navScript
