extends layout.pug

block title 
	|  - Contact

block content
	.contact-form.container
		h1 Contact us
		p something nice that we will tell you here (So you sends us a nicer message)

		form.container
			.input-row
				.name
					label(for="name") Name
					input(type="text" name="name" id="name")
				.email
					label(for="email") Email
					input(type="email" name="email" id="email" required)

			.message
				label(for="message") Your message
				textarea(name="message" id="message" rows="10")

			.btn-row
				input(type="submit" value="Submit")

