extends layout.pug

block title
	title Craft Africa - Edit Containers

block header
	h1 Edit Containers

block content
	form(method="post" action="/admin/calculationform/container" id="foo")
		each container, index in containers
			div
				input(type="text" name="name" value=container.name)
				input(type="text" name="type" value=container.type)
				input(type="text" name="price" value=container.price)
				input(type="text" name="size" value=container.size)
				input(type="submit" class="remove" value = "-")
		input(type="button" id="add" value = "+")
		br
		input(type="submit" id="submit")
	
block scripts
	script(src="/js/adminCont.js")