extends layout.pug

block title
	title Craft Africa - Edit Beers

block header
	h1 Edit Beers

block content
	form(method="post" action="/admin/calculationform/beer")

		h2 Ingredient cost
		.defaultCostIngredients
			input(type="text" required class="textbox number" name="hops"  placeholder='Hops ($)' value='')
			input(type="text" required class="textbox number" name="barley" placeholder='Barley ($)' value='')
			input(type="text" required class="textbox number" name="co2" placeholder='CO2 ($)' value='')
			input(type="text" required class="textbox number" name="water" placeholder='Water ($)' value='')
			input(type="hidden" name="id" value='beer._id')
			input(type="hidden" name="status" value="unchanged")

		h2 Default Distribution (%)
		.defaultDistributionValues
			input(type="text" required class="textbox number" name="tap1" placeholder='Tap (%)' value='')
			input(type="text" required class="textbox number" name="bottle1" placeholder='Bottle (%)' value='')
			input(type="text" required class="textbox number" name="keg1" placeholder='Keg (%)' value='')
			input(type="hidden" name="id" value='beer._id')
			input(type="hidden" name="status" value="unchanged")

		h2 Default Cost (per unit)
		.defaultCostValues
			input(type="text" required class="textbox number" name="tap2"  placeholder='Tap ($)' value='')
			input(type="text" required class="textbox number" name="bottle2"  placeholder='Bottle ($)' value='')
			input(type="text" required class="textbox number" name="keg2" placeholder='Keg ($)' value='')
			input(type="hidden" name="id" value='beer._id')
			input(type="hidden" name="status" value="unchanged")

		h2 Start Value for Production
		.defaultStartValueForProduction
			input(type="text" required class="textbox number" name="startValueForProduction"  placeholder='$' value='')
			input(type="hidden" name="id" value='beer._id')
			input(type="hidden" name="status" value="unchanged")

		br
		input(type="submit" disabled=false name="submit")
	
block scripts
	script(src="/js/adminBeer.js")