extends layout.pug

block title
	|Email - 

block header
	header.header.empty
		.title-text
			if message
				h1 Thank you for getting in touch
				p= message
			else
				h1 Thank you for getting in touch
				p  One of our skilled coworkers will soon reach out to you. 
