extends layout.pug

block title
	title Craft Africa - Email


block nav
	nav.nav.small
		include partials/navbar
	.nav-filler

block content
	.contact-form
		.container-contact
			if message
				H1 Thank you for getting in touch
				p= message
			else 
				H1 Thank you for getting in touch
				p  One of our skilled coworkers will soon reach out to you. 


block navScript


