extends layout.pug

block title
	|

block description
	meta(name="description" content="Craft Africa is a company who focus on creating a opportunity for brewers with an entrepreneurial spirit in Africa. Who wants to create their own beer brand. We provide a modular brewery which consists of custom made containers.")

block header
	header.header
		a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.container#first
		.quote-container
			span.quote Get famous or die trying
			span.source former poor man now rich

	.explosion-view-container
		.explosion-view
			.img-container
				object.base(type="image/svg+xml" data="/images/factory/background.svg")
				//- object.water-filtration(data="/images/factory/water-filtration.svg")
				object.brewery(type="image/svg+xml" data="/images/factory/brewery.svg")
				object.battery(type="image/svg+xml" data="/images/factory/battery.svg")
				object.bar(type="image/svg+xml" data="/images/factory/bar.svg")
				object.roof(type="image/svg+xml" data="/images/factory/roof.svg")
				object.front-wall(type="image/svg+xml" data="/images/factory/right-wall.svg")
				object.left-wall(type="image/svg+xml" data="/images/factory/left-wall.svg")
				object.solar-panels(type="image/svg+xml" data="/images/factory/solar-panel.svg")

	.calculation-form-small
		.placeholder-text You wanna make your own brand?

block scripts
	script(src="/js/explosionView.js")