extends layout.pug

block header
	header.header
		img.logo(src="/images/craft_africa_logo.png" alt="Craft Africa logo")

block content
	.overlap-images
		.container
			.img-container
				img(src="/images/beerbottle.png" alt="")
			.img-container
				img(src="/images/beerbottle.png" alt="")
			.img-container
				img(src="/images/beerbottle.png" alt="")
