extends layout.pug

block title
	|

block header
	header.header
		a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.container#first
		.quote-container
			span.quote Get famous or die trying
			span.source former poor man now rich

	.explosion-view-container
		.explosion-view
			.img-container
				object.base(data="/images/factory/background.svg")
				//- object.water-filtration(data="/images/factory/water-filtration.svg")
				object.brewery(data="/images/factory/brewery.svg")
				object.battery(data="/images/factory/battery.svg")
				object.bar(data="/images/factory/bar.svg")
				object.roof(data="/images/factory/roof.svg")
				object.front-wall(data="/images/factory/right-wall.svg")
				object.left-wall(data="/images/factory/left-wall.svg")
				object.solar-panels(data="/images/factory/solar-panel.svg")

	.calculation-form-small
		.placeholder-text You wanna make your own brand?

block scripts
	script(src="/js/explosionView.js")