extends layout.pug

block header
	header.header
		img.logo(src="/images/craft_africa_logo.png" alt="Craft Africa logo")

block content
	.overlap-images
		.container
			.placeholder.block1
			.placeholder.block2
			.placeholder.block3

	.container
		.quote-container
			span.quote Get famous or die trying
			span.source former poor man now rich

	.explosion-view-container
		.explosion-view
			.img-container
				img.base(src="/images/container-explosion/base.png")
				img.water-filtration(src="/images/container-explosion/water-filtration.png")
				img.brewery(src="/images/container-explosion/brewery.png")
				img.battery(src="/images/container-explosion/battery.png")
				img.bar(src="/images/container-explosion/bar.png")
				img.roof(src="/images/container-explosion/roof.png")
				img.front-wall(src="/images/container-explosion/front-wall.png")
				img.left-wall(src="/images/container-explosion/left-wall.png")
				img.solar-panels(src="/images/container-explosion/solar-panels.png")

	.calculation-form-small
		.placeholder-text You wanna make your own brand?

block scripts
	script(src="/js/explosionView.js")