extends layout.pug

block header
	header.header
		img.logo(src="/images/craft_africa_logo.png" alt="Craft Africa logo")

block content
	.overlap-images
		.container
			.placeholder.block1
			.placeholder.block2
			.placeholder.block3

	.container
		.quote-container
			span.quote Get famous or die trying
			span.source former poor man now rich

	.explosion-view-container
		.explosion-view.skrollable(data-anchor-target=".explosion-view-container" data-bottom-top="transform: translateY(100%);" data-top-top="transform: translateY(0%);" data-bottom-bottom="transform: translateY(0%);" data-top-bottom="transform: translateY(-100%);")
			.img-container
				img(src="/images/container-explosion/2.png" data-anchor-target=".explosion-view-container" )
				img(src="/images/container-explosion/1.png" data-anchor-target=".explosion-view-container" data--750-top="top: 50%;" data--1250-bottom="top: -100%;")
				img(src="/images/container-explosion/0.png" data-anchor-target=".explosion-view-container" data-top-top="top: 50%;" data--750-top="top: -100%;")

	.calculation-form-small
		.placeholder-text You wanna make your own brand?

block scripts
	script(src="/js/explosionView.js")