extends layout.pug

block header
	header.header
		img.logo(src="/images/craft_africa_logo.png" alt="Craft Africa logo")

block content
	.overlap-images
		.container
			.placeholder.block1
			.placeholder.block2
			.placeholder.block3

	.container
		.quote-container
			span.quote Get rich or die trying
			span.source former poor man now rich

	.explosion-view
		.container
			.placeholder

	.calculation-form-small
		.placeholder-text You wanna make money?
