extends layout.pug

block header
	header.header
		img.logo(src="/images/craft_africa_logo.png" alt="Craft Africa logo")

block content
	.overlap-images
		.container
			.placeholder.block1
			.placeholder.block2
			.placeholder.block3

	.container
		.quote-container
			span.quote Get famous or die trying
			span.source former poor man now rich

	.explosion-view-container
		.explosion-view
			.img-container
				img(src="/images/container-explosion/2.png")
				img(src="/images/container-explosion/1.png")
				img(src="/images/container-explosion/0.png")

	.calculation-form-small
		.placeholder-text You wanna make your own brand?

block scripts
	script(src="/js/explosionView.js")