doctype html
html
	head
		title
			| Craft Africa 
			block title
		meta(charset="utf-8")

		// Mobile Specific Metas
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="HandheldFriendly" content="true")
		
		// Preview meta for social media
		meta(property="og:image" content="https://craft-africa.com/images/craft-africa-logo2.jpg")
		meta(property="og:title" content="CraftAfrica Facebook")
		meta(property="og:url" content="https://craft-africa.com/sharingtest.html")
		meta(property="og:description" content="CraftAfrica")
		meta(property="fb:app_id" content="588805177964830")

		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="@Craft-Africa")
		meta(name="twitter:creator" content="@Craft-Africa")
		meta(name="twitter:title" content="Craft-Africa")
		meta(name="twitter:description" content="Welcome to Craft-Africa")
		meta(name="twitter:image" content="https://craft-africa.com/images/craft-africa-logo2.jpg")

		// Fonts
		link(rel="stylesheet" href="/fonts/liberation.css")

		// CSS
		link(rel="stylesheet" href="/stylesheets/main.css")

	body
		block nav
			nav.nav
				include partials/navbar

		block header

		block content

		block footer
			include partials/footer

		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")

		block navScript
			script(src="/js/navbar.js")
		
		block scripts
		
