extends layout.pug

block title
	|Product - 

block description
	meta(name="description" content="Craft Africa offers you an unique modular solution that scales after your needs. We provide you with all material, ingredients and equipment you need to create your own beer brand. The solution is simple, contact us for more info.")

block header
	header.header.product
		.product-header
			.background-img
				
			.title-text
				h1 Our brewery grows with you
				p 
					| A high quality modular turnkey brewery concept for seamless scaling of your business. Focus your 
					span.emphasis creativity 
					| on building your brand while we are taking care of the tools you need to succeed. Your success is our business concept.
			a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.product.scalability-support-key#first
		.column-container
			.text
				h2 Seamless scalability
				p Choose your target start-up production volume and we provide you with the right-sized production plant. The concept with modular extensions to the brewery make your scale-up seamless, without need of continuous investments.
			.line

			.text
				h2 Turn-key solution
				p Start your business as soon as the system arrives and is connected to necessary utilities. All necessary state-of-the-art technology is built-in, providing you with the right tools to create the best possible craft beer. Focus your effort on producing the best beer, creating your brand and building your business, while we take care of your present and future production equipment needs.
			.line

			.text
				h2 Training and Support
				p We connect you to world-class craft brewers and suppliers of the best raw materials from around the world, and we can offer all necessary support to create a sustainable and successful brand. We can prepare you for a fast start-up of your activity before the system arrives.

	.big-pic
		.product.quote-pic
	
	.info-box.product.technical-spec
		.title
			h2 Technical information
		.wrapper
			.information
				.spec-row
					.col
						h3 The heart of the concept
						p The heart of the modular brewery concept is the high quality brew house. Smallest volume starts at 500 litres per batch.
					.col
						h3 Modular System
						p Designed for seamless capacity increase the modules are starting at 4000l/month up to 32.000 l/month
				.spec-row
					.col
						h3 Water filtration
						p To ensure the best quality craft beer we have installed a reversed osmosis system to create continuous clean water at a capacity of 200l/h. The water can also be used from tap, bottled or even carbonised and flavoured.
					.col
						h3 Insulated fermenting & storage room
						p We have designed the system in all details to create the best environment to produce high quality craft beer. To control the temperature all fermenting and storage tank is placed in an insulated temperature controlled room.
				.spec-row
					.col
						h3 Tap room and bar
						p The modular system includes a tap room directly connected to the cold fermenting and storage room.
					.col
						h3 Solar energy
						p The system is prepared with solar panels on top to harvest the sun and generate energy to keep the fermenting storage room cold.
				.spec-row
					.col
						h3 Fermentation tanks
						p With the special design fermenting tanks they can be used as well as storages and service tanks
			.img-container
				img(src="/images/isometric.png")

		
	