extends layout.pug

block title
	|Product - 

block description
	meta(name="description" content="Craft Africa offers you an unique modular solution that scales after your needs. We provide you with all material, ingredients and equipment you need to create your own beer brand. The solution is simple, contact us for more info.")

block header
	header.header.product
		.title-text
			h1 Our brewery grows with you
			p A scalable, turnkey solution. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloribus laudantium sit. accusantium vitae consequatur reiciendis.
		a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.info-box.product.scalability#first
		.text
			h2 Seamless scalability
			p Not sure how much you will produce a year from now? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis omnis vitae repellat doloribus incidunt, iste maiores obcaecati esse fugiat atque dolores, ea nulla dolor voluptatibus odit error quia! Placeat, veniam?
		.image
			img(src="/images/scale.png", alt="Scalable solutions")

	.info-box.product.turn-key
		.image
			img(src="/images/turnkey.png", alt="Container transported to you")
		.text
			h2 Turn-key solution
			p We transport the container to you and take full responsibility for the shipping. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa cupiditate velit ex, doloremque id perspiciatis officia ad voluptatibus optio explicabo obcaecati veniam, dolores quod. Accusamus debitis esse placeat delectus similique.

	.info-box.product.technical-spec
		.icons-img-container
			.icons-holder
				.icon.placeholder
					.foo
						i.fa.fa-ship(aria-hidden="true")
					.bar
						h3 Solar panels
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum eu erat non convallis. 	
				.icon.placeholder
					.foo
						i.fa.fa-sun-o(aria-hidden="true")
					.bar
						h3 Solar panels
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum eu erat non convallis. Cras ut sem bibendum, bibendum tortor ut, tempor nisl.
				.icon.placeholder
					.foo
						i.fa.fa-battery-full(aria-hidden="true")
					.bar
						h3 Solar panels
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum eu erat non convallis. Cras ut sem bibendum, bibendum tortor ut, tempor nisl.
				.icon.placeholder
					.foo
						i.fa.fa-ship(aria-hidden="true")
					.bar
						h3 Solar panels
						p We have solar panels.
				.icon.placeholder
					.foo
						i.fa.fa-ship(aria-hidden="true")
					.bar
						h3 Solar panels
						p We have solar panels.
				.icon.placeholder
					.foo
						i.fa.fa-ship(aria-hidden="true")
					.bar
						h3 Solar panels
						p We have solar panels.
			.img-container
				img(src="/images/container-for-rent.png")

		

		//- .text
		//- 	.list-column
		//- 		h2 Solar panels
		//- 		p We have solar panels.
		//- 		h2 Tesla battery
		//- 		p It saves your energy.
		//- 		h2 High quality brew house
		//- 		p It is a high quality german thing that lets you turn malt, hops, water and dreams into beer.
		//- 	.list-column
		//- 		h2 Title-Stuff4
		//- 		h2 Title-Stuff5
		//- 		h2 Title-Stuff6
		//- .image

	.info-box.product.support
		.text
			h2 Training and Support
			p How do you get started? Not sure how to brew? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates dolore, explicabo totam rerum enim, quisquam natus? Dolorum tempora repudiandae, asperiores earum sunt alias quod voluptates aspernatur animi. Qui, facilis, ipsam!
		.image
			img(src="/images/happy-trained-brewer.png", alt="Brewer in training")