extends layout.pug

block title
	|Product - 

block description
	meta(name="description" content="Craft Africa offers you an unique modular solution that scales after your needs. We provide you with all material, ingredients and equipment you need to create your own beer brand. The solution is simple, contact us for more info.")

block header
	header.header.product
		.product-header
			.background-img
				
			.title-text
				h1 Our brewery grows with you
				p 
					| A high quality modular turnkey brewery concept for seamless scaling of your business. Focus your 
					span.emphasis creativity 
					| on building your brand while we are taking care of the tools you need to succeed. Your success is our business concept.
			a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.info-box.product.scalability#first
		.text
			h2 Seamless scalability
			p 
				|Choose your target start up production volume and we provide you with the right sized production plant. The concept with modular extensions to the brewery make your scale up seamless without need of continuous investments. Focus your 
				span.emphasis energy 
				| on crafting your brand while we take care of the scale up investments.
		.image
			img(src="/images/growth.svg", alt="Scalable solutions")

	.info-box.product.turn-key
		.image
			img(src="/images/key.svg", alt="Container transported to you")
		.text
			h2 Turn-key solution
			p Start up your business at once the system arrives and are connected to needed utilities. All necessary state of the art technology is included in the concept providing you with the right tools to create the best possible beer experience. Focus your ambition on producing the best beer while we are engineering your future technology solutions.

	.info-box.product.technical-spec
		.title
			h2 Technical information
		.wrapper
			.information
				.spec-row
					.col
						h3 The heart of the concept
						p The heart of the modular brewery concept is the high quality brew house. Smallest volume starts at 500 litres per batch.
					.col
						h3 Water filtration
						p To ensure the best quality craft beer we have installed a reversed osmosis system to create continuous clean water at a capacity of 200l/h. The water can also be used from tap, bottled or even carbonised and flavoured.
				.spec-row
					.col
						h3 Fermentation tanks
						p With the special design fermenting tanks they can be used as well as storages and service tanks
					.col
						h3 Solar energy
						p The system is prepared with solar panels on top to harvest the sun and generate energy to keep the fermenting storage room cold.
				.spec-row
					.col
						h3 Tap room and bar
						p The modular system includes a tap room directly connected to the cold fermenting and storage room.
					.col
						h3 Insulated fermenting & storage room
						p We have designed the system in all details to create the best environment to produce high quality craft beer. To control the temperature all fermenting and storage tank is placed in an insulated temperature controlled room.
			.img-container
				img(src="/images/isometric.png")

		

		//- .text
		//- 	.list-column
		//- 		h2 Solar panels
		//- 		p We have solar panels.
		//- 		h2 Tesla battery
		//- 		p It saves your energy.
		//- 		h2 High quality brew house
		//- 		p It is a high quality german thing that lets you turn malt, hops, water and dreams into beer.
		//- 	.list-column
		//- 		h2 Title-Stuff4
		//- 		h2 Title-Stuff5
		//- 		h2 Title-Stuff6
		//- .image

	.info-box.product.support
		.text
			h2 Training and Support
			p Connecting to world class craft brewers and sourcing of raw materials we can offer all necessary support you need to create a sustainable successful brand. Before the system arrives we can prepare for a fast start up of your activity.
		.image
			img(src="/images/cog.svg", alt="Brewer in training")