extends layout.pug

block header
	header.header.product
		.title-text
			h1 Our brewery grows with you
			p A scalable, turnkey solution. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloribus laudantium sit. accusantium vitae consequatur reiciendis.
		a.down-btn.fa.fa-angle-double-down(href="#first")

block content
	.info-box.product.scalability#first
		.text
			h1 Seamless scalability
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis omnis vitae repellat doloribus incidunt, iste maiores obcaecati esse fugiat atque dolores, ea nulla dolor voluptatibus odit error quia! Placeat, veniam?
		.image
			img()
	.info-box.product

	.info-box.product
