extends layout.pug

block title 
	| Browser not supported

block header
	header.header.empty
		.title-text
			h1 This feature is not supported on your browser.
			h4 Please upgrade your browser to 
				a(href="https://www.google.com/chrome/browser/desktop/index.html") Google Chrome
				|  for the full Craft Africa experience
