extends layout.pug

block title 
	| Browser not supported

block header
	header.header.empty
		.title-text
			h1 Oops! Browser outdated
			h4 Please update to a modern browser (i.e. Chrome or Firefox) to use this feature!

block content
