.product.technical-spec {
	h2 {
		font-size: 2rem;
		margin-bottom: 0;
	}


	p {
		margin-top: 0;
	}

	.icons-img-container{
		width: 100%;
		display: flex;
		flex-direction: row;
		
		.icons-holder{
			width: 50%;
			
			.icon {
				width: 45%;
				display: inline-block;

				.headline {
					display: flex;
					flex-direction: row;

					i{
						padding-right: 0;
					}

				}
			}
		}
		
		.img-container {
			width: 50%;
			float: right;
			img{
				width: 90%;
			}
	
		}

	}
}
	// .text{
	// 	width: 2 / 3 * 100%;

	// 	.column {
	// 		width: 50%;
	// 	}

	// 	h2 {
	// 		font-size: 2rem;
	// 		margin-bottom: 0;
	// 	}

	// 	p {
	// 		margin-top: 0;
	// 	}
	// }
