.calculation-form {
	background-color: $color-background-light;
	color: $color-text-dark;
	font-family: "Liberation-Sans" , sans-serif;
	padding: 30px 0 50px 0;

	h3 {
		font-size: 1.3em;
		margin-bottom: 0;
	}

	.chart-container {
		min-height: 400px;
		margin-bottom: 2.5em;
	}

	@import "calculation-form/inputs";
	@import "calculation-form/drawer";
	@import "calculation-form/tables";
	@import "calculation-form/economics";
	@import "calculation-form/total-volume";
	@import "calculation-form/tooltip";
	@import "calculation-form/container-box";

	.container > * {
		margin-top: 1em;
	
		&:last-of-type {
			margin-bottom: 1em;
		}
	}
}

.calculation-form-small {
	margin-top: 30px;
	width: 100%;

	@import "calculation-form/total-volume";

	.total-volume {
		margin-bottom: 0;
	}

	.slider-row {
		display: flex;
		align-items: center;
		width: 100%;

		.slider-wrapper {
			flex: 3;
			margin-right: 30px;
		}

		.button {
			flex: 1;
		}
	}

	.output {
		margin-top: 10px;
		flex: 100%;
		font-weight: bold;
		font-size: 110%;
	}

	.placeholder-text {
		font-size: 3em;
	}
}