.contact-form {
	
	background-color: $color-primary;
		padding-top: 40px;
		width: 100%;
		h1 {
			text-align: center;
		}

		label {
			font-family: "Liberation-Sans" , sans-serif;
			font-weight: bold;

		}

		p {
			
			text-align: center;
		}

		.input-row {
			
			width: 100%;
			
			> * {
				
				width: 50%;
				box-sizing: border-box;
				display: inline-block;
				margin-bottom: 10px;

			}

			.name {

				padding-right: 10px;

				input {
					background-color : rgba(#8bb797, 0.3s);
					transition: 0.3s all;
					border: none;
					box-sizing: border-box;
					width: 100%;
					outline: none;
				}

				input:active,
				input:focus {
					background-color : rgba(#8bb797, 1);

				}
			}

			.email {
				padding-left: 10px;

				input {
					background-color : rgba(#8bb797, 0.3s);
					transition: 0.3s, all;
					border: none;
					box-sizing: border-box;
					width: 100%;
					outline: none;
				}

				input:active,
				input:focus {
					background-color : rgba(#8bb797, 1);

				}
			}
		}

		.message {
			//border: 1px solid red;
			textarea {
				background-color : rgba(#8bb797, 0.3s);
				transition: 0.3s, all;
				box-sizing: border-box;
				box-sizing: border-box;
				width: 100%;
				outline: none;
				border: none;
			}

			textarea:active,
			textarea:focus {
					background-color : rgba(#8bb797, 1);

			}

		}

		.btn-row {
			margin-top: 8px;
		}
}