.contact-form {

	.container-contact{
		
		position: relative;
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		margin-top: 20px;
		padding: 0 20px;
		box-sizing: border-box;

		@media (min-width: $width-mobile-min) {
				width: 75%;
				padding: 0;
		}

		@media (min-width: $width-phablet-min) {
				width: 45%;
		}
		
		//background-color: $color-primary;
		padding-top: 40px;
		width: 100%;
		padding-bottom: 100px;

		h1 {
			text-align: center;
			font-family: "Liberation-Sans" , sans-serif;
			font-weight: bold;
		}

		label {
			font-family: "Liberation-Sans" , sans-serif;
			font-weight: bold;
		}

		p {
			text-align: center;
			font-family:'Liberation-Serif', serif;
			font-size: 110%;
		}

		.input-row {
			width: 100%;
			
			> * {
				box-sizing: border-box;
				display: inline-block;
				margin-bottom: 10px;
				width: 100%;		

				@media (min-width: $width-tablet-min) {
					width: 50%;
					margin-top: 40px;
				}
			}

			.name {
				padding-right: 0px;
				@media (min-width: $width-tablet-min) {
					padding-right: 10px;
					
				}
			
				input {
					background-color : rgba(#8bb797, 0.3s);
					transition: 0.3s all;
					border: none;
					box-sizing: border-box;
					width: 100%;
					outline: none;
				}

				input:active,
				input:focus {
					background-color : rgba(#8bb797, 1);
				}
			}

			.email {
				padding-left: 0px;
				@media (min-width: $width-tablet-min) {
					padding-left: 10px;
					
				}

				input {
					background-color : rgba(#8bb797, 0.3s);
					transition: 0.3s, all;
					border: none;
					box-sizing: border-box;
					width: 100%;
					outline: none;
				}

				input:active,
				input:focus {
					background-color : rgba(#8bb797, 1);
				}
			}
		}

		.message {
			textarea {
				background-color : rgba(#8bb797, 0.3s);
				transition: 0.3s, all;
				box-sizing: border-box;
				box-sizing: border-box;
				width: 100%;
				outline: none;
				border: none;
			}

			textarea:active,
			textarea:focus {
					background-color : rgba(#8bb797, 1);
			}

		}

		.btn-row {
			margin-top: 10px;
		}
}