@import "../variables/colors";
@import "../variables/widths";

.explosion-view-container {
	height: 4000px;
	width: 100%;
	position: relative;

	.explosion-view {
		width: 100%;
		height: 100vh;

		&.skrollable.skrollable-before {

		}

		&.skrollable.skrollable-between {
		
		}

		&.skrollable.skrollable-after {

		}

		.img-container {
			border: 1px red;
			position: relative;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

}
