@import "../variables/colors";
@import "../variables/widths";

footer.footer {
	width: 100%;
	height: 20vh;
	display: block;
	background-color: $color-primary-darker;
	color: $color-text-light;

	// Todo remove
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	.placeholder-text {
		font-size: 2em;
	}
}
