@import "../variables/colors";
@import "../variables/widths";

footer.footer {
	width: 100%;
	padding: 60px 0px;

	background-color: $color-primary-darker;
	color: $color-text-light;

	// // Todo remove
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// text-align: center;

	ul {
  		list-style-type: none;
	}

	.margin-box {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		//border: 10px solid goldenrod;
		font-size: 0.95em;

		.placeholder-text1 {
			padding: 0px 5%;
		}
		
		.placeholder-text2 {
			padding: 0px 5%;
		}
		
		.placeholder-text3 {
			padding: 0px 5%;
		}
		
				
	}

}
