@import "../variables/colors";
@import "../variables/widths";

footer.footer-top {
	width: 100%;
	padding: 60px 0px;
	background-color: $color-background-dark;
	color: $color-secondary;
	box-shadow: inset rgba(0, 0, 0, 0.5) 0 3px 10px 0;

	// // Todo remove
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// text-align: center;

	ul {
  		list-style-type: none;
	}


	.margin-box {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		//border: 10px solid goldenrod;
		font-size: 0.95em;

		.contact {
			padding: 0px 4%;
		}
		
		.navigation-links {
			padding: 0px 4%;
		}
		
		ul {
			padding: 0;
		}
		
		.contact-container {
			padding: 0px 4%;

			.social-media {
				display: flex;

				.fa:not(:hover) {
					background-color: lighten($color-background-dark, 10%);
				}
			}
		}
		
				
	}

}
