@import "../variables/colors";
@import "../variables/widths";

header.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 600px;
	background-image: url("/images/hops-ipa-beer-ingredient.jpg");
	background-position: right top;
	background-repeat: no-repeat;
	background-size:100%;
	// background-attachment: fixed;

	.logo {
		display: inline-block;
		background-color: $color-background-light;
		width: 30%;
		margin: 0 auto;
		margin-top: 20px;

		@media(min-width: $width-mobile-min) {
			width: 40%;
		}
		
		@media (min-width: $width-tablet-min) {
			width: 300px;
		}
	}
}
