.info-box {
	width: 100%;
	padding: 20px;
	padding-bottom: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.text,
	.image {
		width: 45%;
	}

	@media (min-width: $width-tablet-min) {
		padding: 5% 10% 5% 10%;

		.text,
		.image {
			width: 100%;
		}
	}

	p {
		font-size: 1.4em;
	}
}