nav.nav {
	display: block;
	height: $nav-height;
	width: 100%;
	background-color: $color-nav-background;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 0.5s;

	* {
		transition: all 0.5s;
	}

	&:hover {
		background: $color-nav-background-transparent;
		height: $nav-height-large;
		
		.nav-container {
			width: 95%;
			
			.links a {
				height: 100%;
				line-height: $nav-height-large;
				padding: 0 15px;
			}

			.logo img {
				// margin-top: 30px;
				// height: 130%;
			}
		}
	}

	.nav-container {
		height: 100%;
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding: 0 20px;
		box-sizing: border-box;

		@media (min-width: $width-mobile-min) {
			& {
				width: 90%;
				padding: 0;
			}
		}

		@media (min-width: $width-tablet-min) {
			& {
				width: 85%;
			}
		}

		> * {
			display: inline-block;
			height: 100%;
		}

		.logo {
			float: left;
			height: 100%;

			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				height: 80%;
			}
		}

		.links {
			float: right;

			a {
				display: inline-block;
				height: 100%;
				text-decoration: none;
				color: $color-nav-link;
				line-height: $nav-height;
				padding: 0 10px;
				font-weight: normal;

				&:hover {
					color: $color-nav-link-hover;
				}
			}
		}
	}
}

.nav-filler {
	height: $nav-height;
	background-color: $color-nav-filler;
}
