nav.nav {
	display: block;
	height: $nav-height-large;
	width: 100%;
	background-color: $color-nav-background-transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 0.5s;
	font-family: 'Liberation-Sans', sans-serif;

	* {
		transition: all 0.5s;
	}

	&.small,
	&.open {
		background-color: $color-nav-background;
		height: $nav-height;

		@media (min-width: $width-mobile-min) {
			.logo {
				margin-left: 5%;
			}

			.links a {
				padding-left: 5%;
			}

			.links,
			.btn {
				margin-right: 5%;
			}
		}

		@media (min-width: $width-tablet-min) {
			.logo {
				margin-left: 7.5%;
			}

			.links a {
				padding-left: 0;
			}

			.links,
			.btn {
				margin-right: 7.5%;
			}
		}


		.links a {
			height: 100%;
			line-height: $nav-height;
		}

		.btn {
			height: $nav-height * 0.6;
			width: $nav-height * 0.7;

			span {
				height: 4px;
			}
		}
	}

	&.open {
		@media (min-width: $width-tablet-min) {
			.links a {
				padding-left: 7.5%;
			}
		}

		.btn {
			display: block;
		}
	}

	> * {
		display: inline-block;
		height: 100%;
	}

	.logo {
		float: left;
		height: 100%;
		margin-left: 10px;

		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			height: 80%;
		}
	}

	.links {
		float: right;
		display: none;
		margin-right: 10px;

		@media (min-width: $width-tablet-min) {
			display: block;
		}

		a {
			height: 100%;
			line-height: $nav-height-large;
			padding: 0 15px;
			display: inline-block;
			text-decoration: none;
			color: $color-nav-link;
			font-weight: normal;
			transition: color 0.1s;

			&:hover {
				color: $color-nav-link-hover;
			}
		}
	}

	&.open .links {
		display: block;
		width: 100%;
		position: absolute;
		top: $nav-height;

		a {
			width: 100%;
			background-color: $color-nav-background;
		}
	}

	@media (min-width: $width-mobile-min) {
		.logo {
			margin-left: 2.5%;
		}

		.links a {
			padding-left: 0;
		}

		.links,
		.btn {
			margin-right: 2.5%;
		}
	}

	.btn {
		position: relative;
		display: block;
		float: right;
		top: 50%;
		transform: translateY(-50%);
		height: $nav-height * 0.8;
		width: $nav-height;
		cursor: pointer;
		z-index: 3;
		margin-right: 10px;

		@media (min-width: $width-tablet-min) {
			display: none;
		}

		span {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: $color-nav-link;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 50%;
				transform: translateY(-50%);
			}

			&:nth-child(4) {
				top: 100%;
				transform: translateY(-100%);
			}
		}
	}

	&.open .btn {
		span:nth-child(1) {
			top: 50%;
			transform: translateY(-50%);
			width: 0%;
			left: 50%;
		}

		span:nth-child(2) {
			transform: rotate(45deg);
		}

		span:nth-child(3) {
			transform: rotate(-45deg);
		}

		span:nth-child(4) {
			top: 50%;
			transform: translateY(-50%);
			width: 0%;
			left: 50%;
		}
	}
}

.nav-filler {
	height: $nav-height;
	background-color: $color-nav-filler;
}
