@import "../variables/colors";

.overlap-images {
	margin-top: -70px;
	width: 100%;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	
		.img-container {
			width: 30%;

			img {
				width: 100%;
			}
		}

		.placeholder {
			display: block;
			width: 30%;
			height: 350px;
		}

		.block1 {
			background-color: $color-primary-darker;
		}

		.block2 {
			background-color: $color-primary-darker;
		}

		.block3 {
			background-color: $color-primary-darker;
		}
	}
}