.product {

	.image {
		flex: 100%;

		img {
			width: 50%;
			margin: 20px auto;
		}
	}

	.text {
		flex: 100%;
	}

	@media(min-width: $width-tablet-min) {
		.image {
			flex: 1;

			img {
				width: 70%;
			}
		}

		.text {
			flex: 3;
		}
	}

}

@import "product/scalability";
@import "product/support";
@import "product/technical-spec";
@import "product/turn-key";
