@function tau() {
	@return 3.14159265359 * 2;
}

.container-box {
		.title {
			width: 100%;
			border: 1px solid darken($color-background-light, 15%);
			padding: 2px 5px;
			box-sizing: border-box;

			h3 {
				font-size: 1.3em;
				margin-bottom: 0;
			}
		}

		.containers {
			width: 100%;
			border: 1px solid darken($color-background-light, 15%);
			border-top: none;
			box-sizing: border-box;

			.container-wrapper {
				margin: 0 auto;
				position: relative;
				width: 100%;
				padding: 15px 30px;
				box-sizing: border-box;


				.container-module {
					display: inline-block;
					position: relative;
					margin-right: 5%;
					width: 30%;
					height: 400px;
					background-color: $color-secondary;

					&:last-child {
						margin-right: 0;
					}

					.name-wrapper {
						width: 100%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						
						.name {
							position: relative;
							margin: 0 auto;
							width: 100px;
							height: 100px;

							.text {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								text-align: center;
								font-size: 1.4em;
								font-weight: bold;
							}

							.circle {
								height: 100%;
								width: 100%;
								transform: rotate(-90deg);
								transition: all 1s;

								.stroke {
									stroke: $color-accent;
									stroke-dasharray: 40% * tau();
									stroke-dashoffset: 0;
								}

								@for $i from 0 through 100 {
									&[data-fill="#{$i}"] {
										.stroke {
											stroke-dashoffset: (40% * tau()) * (1 - ($i / 100));
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}