@function tau() {
	@return 3.14159265359 * 2;
}

.container-box {
	margin-bottom: 1em;
	
		.title {
			width: 100%;
			border: 1px solid darken($color-background-light, 15%);
			padding: 5px 10px;
			box-sizing: border-box;

			h3 {
				font-size: 1.3em;
				margin-bottom: 0;
			}
		}

		.containers {
			width: 100%;
			border: 1px solid darken($color-background-light, 15%);
			border-top: none;
			box-sizing: border-box;

			.container-wrapper {
				margin: 0 auto;
				position: relative;
				width: 100%;
				padding: 15px 30px;
				box-sizing: border-box;

				.container-module {
					transition: all 0.6s;
					display: inline-block;
					position: relative;
					margin-right: 5%;
					height: 200px;
					width: 16%;
					background-color: none;
					border: 1px solid $color-primary;
					box-sizing: border-box;

					&:last-child {
						margin-right: 0;
					}

					.name-wrapper {
						transition: all 1s 0.6s;
						width: 100%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						
						.name {
							position: relative;
							margin: 0 auto;
							width: 100px;
							height: 100px;
							color: $color-primary;

							.text {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								text-align: center;
								font-size: 1.4em;
								font-weight: bold;
							}

							.circle {
								position: absolute;
								top: 50%;
								left: 50%;
								height: 100%;
								width: 100%;
								transform: translate(-50%, -50%) rotate(-90deg);

								.stroke {
									stroke: $color-primary;
									stroke-dasharray: 40% * tau();
									stroke-dashoffset: 0;
								}

								@for $i from 0 through 100 {
									&[data-fill="#{$i}"] {
										.stroke {
											stroke-dashoffset: (40% * tau()) * (1 - ($i / 100));
										}
									}
								}

								.outline {
									stroke: $color-primary;
								}
							}
						}
					}
				}
			}
		}

		.advanced-tab {
			width: 100%;
			border: 1px solid darken($color-background-light, 15%);
			border-top: none;
			padding: 5px 10px;
			box-sizing: border-box;
			position: relative;
			
			.toggle {
				text-align: center;

				a {
					// color: $color-text-dark;
					// text-decoration: none;
				}
			}

			.extra {
				overflow: hidden;
			}

			&[data-state="open"] {
				.toggle {
					a.show {
						display: none;
					}

					a.hide {
						display: block;
					}
				}

				.extra {
					transition: all 1s;
					max-height: 1000px;
				}
			}

			&[data-state="closed"] {
				.toggle {
					a.show {
						display: block;
					}

					a.hide {
						display: none;
					}
				}

				.extra {
					transition: all 0.5s;
					max-height: 0;
				}
			}
		}
	}