.drawer {
	&[data-state="open"] {
		.show {
			display: none;
		}

		.hide {
			display: block;
		}
	}

	&[data-state="closed"] {
		.show {
			display: block;
		}

		.hide {
			display: none;
		}
	}

	.drawer-content {
		transition: height 0.5s;
		height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
}