.economics {
	border: 1px solid darken($color-background-light, 15%);
	border-radius: 10px;
	padding: 1em 2.2em;
	box-sizing: border-box;
	font-weight: bold;

	.profit-box {
		width: 100%;
		font-size: 2em;
		
		.profit:after {
			content: "$";
		}

		a.fa {
			line-height: 1em;
			float: right;
			text-align: center;
			text-decoration: none;
			color: darken($color-background-light, 15%);
			border: 1px solid darken($color-background-light, 15%);
			width: 1em;
			border-radius: 5px;
			// box-sizing: border-box;
		
			&:hover {
				border-color: $color-text-dark;
				color: $color-text-dark;
			}
		}
	}

	.drawer-content {
		margin: 15px 0;

		th {
			font-weight: normal;
			padding-left: 10px;
		}

		table {
			margin-top: 20px;
			width: 65%;
			
			tr {
				td {
					font-weight: normal;
				}

				th {
					text-align: left;
				}

				th:first-child {
					width: 65%;
				}

				td:first-child {
				}
				
			}

			tr:first-child th {
				font-size: 120%;
				font-weight: bold;
				padding-bottom: 10px;
				padding-left: 0;
			}

			tr:last-child {
				&>* {
					padding-top: 10px;
					border-top: 1px solid gray;
					font-weight: bold;
				}
			}
		}
	}
}