.inputs {
	border: 1px solid darken($color-background-light, 15%);
	border-radius: 7px;
	padding: 1.5em 2.2em;
	box-sizing: border-box;

	.slider-wrapper {
		width: 100%;

		.slider-row {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: row;
			margin: 5px 0;
			padding: 25px 0 0 0;
			box-sizing: border-box;

			input {
				flex: 3;
			}

			input[type="number"] {
				flex: 1;
			}

			span {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(-50%);
				white-space: nowrap;
			}
		}
		
		.price {
			position: relative;
		}

		.unit {
			position: absolute;
			right: -20px;
			top: 25px;
		}
	}

	.options {
		display: flex;
		flex-direction: column;

		@media (min-width: $width-tablet-min) {
			flex-direction: row;	
		}

		.distribution,
		.addons,
		.col {
			flex: 1;
			margin: 0;

			.inactive {
				color: lighten($color-warning, 20%);
			}

			.title {
				width: 100%;
				font-size: 1em;

				h3 {
					display: inline-block;
					margin-right: 10px; 
				}

				.fa {
					font-size: 1.4em;
					vertical-align: center;
					line-height: 1.4em;
					color: $color-text-dark;
				}
			}
		}

		.distribution {
			padding-right: 0px;

			@media (min-width: $width-tablet-min) {
				padding-right: 50px;
			}

			td {
				position: relative;
				padding: 0;
				vertical-align: bottom;

				&:not(.slider-row, .price) {
					width: 1px;
				}

				label {
					margin: 0;
					margin-bottom: 5px;
					margin-right: 5px;
					padding: 0;
				}

				&.slider-row {
					padding: 25px 0 0 0;
				}

				&.price {
					padding-left: 20px;
					width: 50px;

					input[type="number"].distribution-text-input {
						padding: 0 6px;
						height: 25px;
					}
				}
			}

			h3 {
				// margin-bottom: 0.7em;
			}
		}

		.water-slider {
			width: 100%;
			margin-top: 20px;

			@media (min-width: $width-tablet-min) {
				margin-top: 0;
			}

			table {
				width: 100%;
			}
			
			td {
				position: relative;
				padding: 0;
				vertical-align: bottom;
			}

			.slider-row {
				padding: 25px 0 0 0;
			}

			.price {
				padding-left: 20px;
				width: 50px;

				input[type="number"].distribution-text-input {
					padding: 0 6px;
					height: 25px;
				}
			}
		}

		.addons {
			margin-top: 20px;

			td {
				padding-top: 10px;
			}

			input[type="checkbox"] {
				margin-right: 5px;
			}
		}
	}
}
