.about.our-story {
	flex-direction: column;
	text-align: center;
	padding: 50px 10%;
	@media (min-width: $width-tablet-min) {
		padding: 50px 30%;
	}
	h1 {
		margin-bottom: 0;
	} 

}

.big-pic {
	.our-story-pic{
		background-image: url("/images/africa2.jpg");
		height: 500px; 
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@media (min-width: $width-tablet-min) {
			background-image: url("/images/africa2 (2).jpg");
			background-attachment: fixed;
		}
	}
}