// Main
$color-primary: #6fa57d;
$color-primary-darker: #3c5b47;
$color-secondary: #a5a089;
$color-accent: #618ea5;
$color-info: #f8df1f;
$color-warning: #a54232;
$color-black: #000;
$color-white: #fff;
$color-dark-grey: #484540;

// Background
$color-background-light: #eee;
$color-background-dark: $color-dark-grey;

// Text
$color-text-light: #eee;
$color-text-dark: $color-dark-grey;
$color-link: $color-accent;

// Logo
$color-logo-background: $color-white;
$color-logo-border: $color-primary;

// Navbar
$color-nav-filler: $color-black;
$color-nav-background: rgba(0, 0, 0, 0.6);
$color-nav-background-transparent: rgba(0, 0, 0, 0);
$color-nav-link: $color-white;
$color-nav-link-hover: $color-black;

// Misc
$color-selection: $color-primary;
