// Main
$color-primary: #6fa57d;
$color-primary-darker: #3c5b47;
$color-secondary: #a5a089;
$color-accent: #618ea5;
$color-info: #f8df1f;
$color-warning: #a54232;

// Background
$color-background-light: #eee;
$color-background-dark: $color-primary-darker;

// Text
$color-text-light: #eee;
$color-text-dark: #222;
$color-link: $color-accent;

// Misc
$color-selection: $color-primary;
