body {
	margin: 0;
	padding: 0;

	// *****Sticky footer*******	
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	> div:last-of-type {
		flex: 1;
	}
	// *************************
}

.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

@media (min-width: $width-mobile-min) {
	.container {
		width: 85%;
		padding: 0;
	}
}

@media (min-width: $width-tablet-min) {
	.container {
		width: 80%;
	}
}

.info-box {
	width: 100%;
	padding: 20px;
	padding-bottom: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.text,
	.image {
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
	}

	.image {
		img {
			width: 100%;
		}
	}
	
	@media (min-width: $width-tablet-min) {
		padding: 5% 10% 5% 10%;

		.text {
			width: 60%;
		}

		.image {
			width: 35%;
		}
	}

	p {
		font-size: 1.4em;
	}
}
