@import "../variables/widths";
@import "../variables/colors";

body {
	margin: 0;
	padding: 0;

	//*****Sticky footer*******	
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	> div:last-of-type {
		flex: 1;
	}
	//*************************
}

.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

@media (min-width: $width-mobile-min) {
	.container {
		width: 85%;
		padding: 0;
	}
}

@media (min-width: $width-phablet-min) {
	.container {
		width: 80%;
	}
}
