//Main
$color-primary: #000000;
$color-secondary: #000000;
$color-accent-dark: #000000;
$color-accent-light: #000000;

//Background
$color-background-light: #000000;
$color-background-dark: #000000;

//text
$color-text-light: #000000;
$color-text-dark: #000000;

//misc
$color-link: #000000;
$color-overlay: #000000;

