.energy {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: $color-text-dark;
	
	h2{
		color: $color-title-dark;
	}
	> * {
		box-sizing: border-box;
		display: inline-block;
	}

	.animation {
		width: 100%;
	}

	.text {
		order: 1;
	}
	.animation {
		height: auto;
		order: 2;

		img {
			width: 100%;
			height: auto;
		}
	}

	@media (min-width: $width-tablet-min) {
		& {
			flex-direction: row;
		}

		.animation {
			order: 1;
			width: 30%;
			height: auto;
		}

		.text {
			order: 2;
		}

		.animation,
		.text {
			display: inline-block;
		}
	}
}