.energy.footprint {
	display: flex;
	background-color: darken($color-primary-darker, 0%);
	color: $color-text-light;

	.animation {
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		margin-right: 0;
	}

	.text {
		width: 100%;
	}

	@media (min-width: $width-tablet-min) {
		& {
			flex-direction: row;
		}

		.animation {
			width: 40%;
			height: auto;
			margin-right: 5%;
			margin-bottom: 0;
		}

		.text {
			width: 55%;
		}

		.animation,
		.text {
			display: inline-block;
		}
	}
}